<div class="ui inverted teal clearing segment">

  <img src="../../assets/Logos/HPLLogo.svg" height="40px"><span class="ui circular red label"> Season 4</span>

<button routerLink ='/playerDetail' class="ui right labeled black icon right floated button">
  <i class="arrow right icon"></i>
Start Auction
</button >
</div>
<div class="ui segment">


<div class="ui centered massive cards">

<div class="brown massive card">
    <div class="image">
      <img src="../../assets/Logos/RajasthanRoyalsLogo.png">
    </div>
    <div class="content">
      <div class="huge header">Rajasthan Royals</div>
      <div class="description">
          <a class="ui blue left ribbon big label"><b>Mentor: Nisha Sharma</b></a>
      </div>
      <p></p>

        <div class="ui teal huge label">Cheryl Mascarenhas</div>


        <div class="ui black huge label">Aniket Patange</div>

    </div>
    <!-- <div class="extra content">
      <div class="meta">
        Mentor: Ashish Solanki
      </div>
    </div> -->
  </div>




<div class="brown massive card">
<div class="image">
  <img src="../../assets/Logos/ChennaiSuperKingsLogo.png">
</div>
<div class="content">
  <div class="huge header">Chennai Super Kings</div>
  <div class="description">
      <a class="ui yellow left ribbon big label"><b>Mentor: Sneha Bhandari</b></a>
  </div>
  <p></p>

    <div class="ui teal huge label">Kriti Jain</div>


    <div class="ui black huge label">Bhaskar Lokhande</div>

</div>
<!-- <div class="extra content">
  <div class="meta">
    Mentor: Rajesh Thakur
  </div>
</div> -->
</div>


<div class="brown massive card">
<div class="image">
  <img src="../../assets/Logos/kingsXiPunjabLogo.png">
</div>
<div class="content">
  <div class="huge header">Kings XI Punjab</div>
  <div class="description">
      <a class="ui red left ribbon big label"><b>Mentor: Arun Menon</b></a>
  </div>

  <p></p>

    <div class="ui teal huge label">Neha Nanda</div>


    <div class="ui black huge label">Dev Ramchandani</div>

</div>
<!-- <div class="extra content">
  <div class="meta">
    Mentor: Amit Suryawanshi
  </div>
</div> -->
</div>




<div class="brown massive card">
<div class="image">
  <img src="../../assets/Logos/mumbaiIndiansLogo.png">
</div>
<div class="content">
  <div class="huge header">Mumbai Indians</div>
  <div class="description">
      <a class="ui blue left ribbon big label"><b>Mentor: Saurabh Srivastava</b></a>
  </div>
  <p></p>

    <div class="ui teal huge label"> Prachi Kaore </div>


    <div class="ui black huge label">Avanish Tiwari</div>

</div>
<!-- <div class="extra content">
  <div class="meta">
    Mentor: Akhilesh Dhancholia
  </div>
</div> -->
</div>

<div class="brown massive card">
  <div class="image">
    <img src="../../assets/Logos/delhiDaredevilsLogo.png">
  </div>
  <div class="content">
    <div class="huge header">Delhi Daredevils</div>

    <div class="description">
        <a class="ui red left ribbon big label"><b>Mentor: Ashwini Kumar</b></a>
    </div>
    <p></p>
      <div class="ui teal huge label">Ruchika Rathore</div>

      <div class="ui black huge label">Alok Survase</div>


  </div>
  <!-- <div class="extra content">
    <div class="meta">
      #dilliboys
    </div>
  </div> -->
</div>



<div class="brown massive card">
<div class="image">
  <img src="../../assets/Logos/sunrisersHyderabadLogo.png">
</div>
<div class="content">
  <div class="huge header">Sunrisers Hyderabad</div>
  <div class="description">
      <a class="ui orange left ribbon big label"><b>Mentor: Deepesh Bothra</b></a>
  </div>
  <p></p>

    <div class="ui teal huge label">Nidhi Chaturvedi</div>


    <div class="ui black huge label">Manav Darjee</div>

</div>
<!-- <div class="extra content">
  <div class="meta">
    Mentor: Aditya Kovoor
  </div>
</div> -->
</div>




<div class="brown massive card">
  <div class="image">
    <img src="../../assets/Logos/royalChallengersBangaloreLogo.png">
  </div>
  <div class="content">
    <div class="huge header">Royal Challengers</div>
    <div class="description">
        <a class="ui red left ribbon big label"><b>Mentor: Abhishek Kaushik</b></a>
    </div>
    <p></p>

      <div class="ui teal huge label">Pooja Ahuja</div>


      <div class="ui black huge label">Mangesh Deshpande</div>

  </div>
  <!-- <div class="extra content">
    <div class="meta">
      Mentor: Abhishek Bhatewara
    </div>
  </div> -->
</div>


<div class="brown massive card">
  <div class="image">
    <img src="../../assets/Logos/kolkataKnightRidersLogo.png">
  </div>
  <div class="content">
    <div class="huge header">Kolkata Knight Riders</div>
    <div class="description">
        <a class="ui purple left ribbon big label"><b>Mentor: Pooja Gupta</b></a>
    </div>
    <p></p>

      <div class="ui teal huge label">Richa Mishra</div>


      <div class="ui black huge label">Nivrutti Chaudhari</div>

  </div>
  <!-- <div class="extra content">
    <div class="meta">
      Mentor: Bhaskar Lokhande
    </div>
  </div> -->
</div>




</div>


</div>
